@model IEnumerable<BeautySaloon.Models.Master>

@{
    ViewData["Title"] = "Мастера";
}
<style>
    th, td{
        color:white;
    }
</style>
<h1>Мастера</h1>

<p>
    <a asp-action="Create">Добавить мастера</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Имя @* @Html.DisplayNameFor(model => model.Name) *@
            </th>
            <th>
               Должность @* @Html.DisplayNameFor(model => model.Position) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Информация</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
